<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6">Projects</h1>
      
      <p class="mt-2 text-sm text-gray-600">A list of all the projects.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%=link_to "Add Project", new_dashboard_project_path, class: "btn-secondary"%>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Title</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Published</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-gray-100">
            <% @projects.each do |project|%>
                <%= render 'project', project: project %>
            <%end%>
            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>