<div>
   <%= url_for(host: 'example.com',
            controller: 'welcome',
            action: 'greeting') %>
</div>
<div>
<p>Welcome and thankyou for visiting my portfolio. We do software development using Ruby on Rails language. Perharps you might consider giving us a project, we always deliver. We also do GIS and Hdrological modellings.</p>
</div>

<div class="h-48 w-48">
    <%= image_tag 'default.jpg' %>
</div>



