Welcome to example.com, <%= @user.name %>
===============================================

You have successfully signed up to example.com,
your username is: <%= @user.login %>.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!
<p>Welcome and thankyou for visiting my portfolio. We do software development using Ruby on Rails language. Perharps you might consider giving us a project, we always deliver. We also do GIS and Hdrological modellings.</p>