<header>
 <div class="max-w-20xl lg:max-w-10xl xl:max-w-10xl 2xl:max-w-10xl mx-auto px-5 sm:px-0; py-16"> 
    <div class="flex flex-auto-w-64 justify-center ">
        <nav class="hidden xl:block">
            <ul class="flex xl:space-x-8">
                <li><h5><b>HELLO</b></h5></li>
                    <div class="space-y-4">
                        <p><li>About</li></p>
                        <p><li>Blog</li></p>
                        <p><li>Contact</li></p>
                        <p><li>FAQ</li></p>
                        <p><li>Notes</li></p>
                        
                    </div>
                <li><h5><b>SERVICES</b></h5></li>
                    <div class="space-y-4">
                        <p><li>Software Development</li></p>
                        <p><li>Hydrology and GIS</li></p>
                        <p><li>Engineering Designs</li></p>
                        
                    </div>
                <li><h5><b>RESOURCES</b></h5></li>
                    <div class="space-y-4">
                        <p><li>LinkedIN</li></p>
                        <p><li>Youtube</li></p>
                        <p><li>Bootcamps</li></p>
                        
                    </div>
                <li><h5><b>CASE STUDIES</b></h5></li>
                    <div class="space-y-4">
                        <p><li>Fave App Redesign</li></p>
                        <p><li>Fave Landing Page</li></p>
                        
                    </div>
                
            </ul>
    </div>
        
        </nav>
    </div>
 </div>

</header>