<section class="bg gray-100 sticky top-0">
    <div class="default-container max-3-3xl py-3">
        <div class="text-center font-bold">
            <ul class= "flex space-x-3">
                <li><a href="#darkest">The darkest</a></li>
                <li><a href="#The-light">The light</a></li>
            </ul>
        </div>
    </div>
</section>
<section>
    <section id="darkest" class="scroll-to">
        <div class="section-container max-w-3xl space-y-6">
            <%= image_tag "darkest.jpg", class: "h-80 w-full "%>
            <div class="space-y-6">
                <h1 class="text-3xl font-bold xl-5xl">The darkest of coding</h1>
                <p>Learning coding is always not a walk in the park but when you remain consistent then you reap of the fruits. Starting from the beginner level is a a process that requires patience so <b> keep calm, you got this.</b></p>
                <p>I will talk about my journey starting with the darkest moments. I started my journey of learning <b>Ruby on Rails</b> 7 months ago and I can promise you, it has not been an easy journey. There are so many lessons that I have learnt whre I believe you can learn from and make good use of the beginner level.</p>
                <p>I started of this journey by watching so many youtube tutorials just to appreciate ROR and also to have a piece of what rails is all about. After this, I started of the journey by following through tutorials.<b> I highly discourage</b> this way of learning because you end up not learning as much. I remember i could follow a 5 hour tutorial word by word, cod by code till the end. But then when I could try building a project from scratch, I could barely do anything.</p>
                <p>Another thing that made my journey takevso long was<b> giving up midway whenever an error showed up.This is bad practice.</b>As always anticipated, a code written most likely will have bugs which would need debugging. I remeber I could start a tutorial, normally I could debug after every tutorial class just to make sure I wasnt carrying errors into the next tutorial. The darkest moments always came with bugs.  I could find errors, try debugging using chatgpt or stack overflow, try this foor two consecutive and if still I had not figured it out, I could abandon the project and the tutorial then start another project.<b> This definately was not helpful because I was just going in circles.</b></p>
            </div>
        </div>
    </section>
    <section>
        <section id="The-light" class="bg-gray-100">
            <div class="section-container max-w-3xl space-y-6">
                <%= image_tag "default.jpg", class: "h-80 w-full "%>
            <div class="space-y-6">
                <h1 class="text-3xl font-bold xl-5xl">The light at the end of the tunnel</h1>
                <p>With consistency and patience, their is always a reward. With continuous practice, you will continue growing as you find out some secrets on your own</p>
                <p>It reaches a point where you are so familiar with the MVC steps in ROR, you become familiar with the errors that occurs hence you take very minimal time in debugging.</p>
                <p>I am not an experienced programmer but then I already appreciate the ups and downs I have gone through. At this point I enjoy writing lines of code because I understand what is going on</p>
                <p>I would also encourage<b> learning from other.</b> This is what saved me. I got a mentor who gave me some direction which really chabnged my coding journey</p>
            </div>
            </div>
        </section>
    </section>
</section>