<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        The only eCommerce platform you’ll ever need.
      </h1>

      <p class="subtitle">
        Welcome to MC COMPUTERS. We sell laptops, desktops and iphones at affordable prices. Enhance your Tech experience with us
      </p>
    </div>
  </div>
</section>
