<section class="bg-gray-50">
    <div class="section-container">
        <div class="space-y-6">
            <h1 class="text-2xl font-bold xl:text-4xl "><%= @project.title %></h1>
            <div class="grid gap-9">
                <%= image_tag @project.image_link, class: "h-[60vh] w-auto object-cover" %>
                <div class="prose max-w-none">
                    <%= @project.description.html_safe %>
                </div>
            </div>
        </div> 
    </div>
</section>