<% if model.errors.any? %>
  <div class="bg-red-600 px-5 py-2 text-xs text-white mb-3 rounded" id="error_explanation">
    <h2><%= pluralize(model.errors.count, "error") %> prohibited this <%= model.class%> from being saved:</h2>
  </div>
<% end %>